{% extends "base.html" %}
{% block content %}
<div class="center-box">
    <div class="main-title" style="margin-bottom: 0.25em;">
        Welcome, {{ user['name'] }}!
    </div>
    <div class="subtitle" style="margin-bottom: 1em;">
        <b>Current Account:</b> 
        {{ account_type.capitalize() }} 
        ({{ account_name }})
        {% if pages and account_type == 'user' %}
            <br>
            <span style="font-size:1rem;">
                Want to use one of your pages? 
                <a href="{{ url_for('choose_account') }}" class="link-btn">Click here to switch</a>
            </span>
        {% elif pages and account_type == 'page' %}
            <br>
            <span style="font-size:1rem;">
                Want to use your personal profile? 
                <a href="{{ url_for('choose_account') }}" class="link-btn">Click here to switch</a>
            </span>
        {% endif %}
    </div>
    <div style="margin-bottom:0.7em; font-size:1.13rem;">
        <b>Your Access Token:</b>
    </div>
    <textarea style="width:97%; min-height:56px; border-radius:9px; padding:0.65em; font-size:1.1rem; background:#222637; color:#b4e2ff; border: 1.3px solid #243049; resize: vertical;" readonly>{{ token }}</textarea>

    <div style="margin-top:2em;">
       <a href="{{ url_for('logout') }}" class="button button-primary">Logout</a>
    </div>
</div>
{% endblock %}
